<h1>All Courses</h1>

<ul id="courses">
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.title, course_path(course) %>

    </li>
  <% end %>
</ul>

<%= link_to "Create a New Course", new_course_path, class: "new_course" %>


